@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
    src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display")
        format("svg");
  }
}

@layer components {
  body {
    @apply bg-primary;
  }
}

html,
body {
  overflow-x: hidden;
}

/* for the custome arrows in the carousel */
.slick-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* to prevent the products (when there is less than 4) from aliging to center */
.slick-track {
  margin: 0 !important;
}
